{% extends "base.html" %}
<!-- block content~endblockの中にコンテンツを書いていく -->
{% block content %}
<h1 class="top-title">メモアプリ</h1>
    {% if memo_list == [] %}
        <p>メモは存在しません</p>
    {% else %}
        <table border="2">
            <tr>
                <th>タイトル</th>
                <th>メモ</th>
            </tr>
            {% for memo in memo_list %}
                <tr>
                    <td class="content-title">{{ memo.title }}</td>
                    <td class="content-text">{{ memo.body }}</td>
                </tr>
            {% endfor %}

        </table>
    {% endif %}
{% endblock %}